body {
  background-image: url('./dotally.png');\
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
} 

.ryke {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 80%;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  word-wrap: break-all;
}

footer{
	width: 100%;
	height: 85px;
	color: white;
	text-align: right;
}

h6 {
  margin: auto;
  margin-right: 10px;
	font-size: 20px;
}
.img-frame-cap {
  display: inline-block;
  width: 200px;
  background:rgb(44, 171, 255);
  padding: 1px;
  border: 5px solid rgb(0, 0, 0);
  text-align: center;
}
.caption {
  text-align: center;
  margin-top: 7px;
  font-size: 22px; 
}
